body {
    background-color: lightgray;
    width: 100%;
}
.corpo {
    margin-top: 46px;
    padding: 80px;
    background-color: white;
    
}
.corpo img {
    height: auto;
    width: 250px;
    margin-left: 350px;
}