body {
  width: 100%;
  height: 100%;
  margin: 0% auto;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  padding: 0px;
}

.pagina-principal {
  width: 100%;
  background-color: #284243;
  height: 100px;
}

main {
  margin: 0 auto;
  width: 980px;
  position: relative;
}

.logo {
  border-top: 5px;
  padding-left: 20px;
  width: 90%;
}

.header-2 {
  background-color: #425c5c;
  width: 980px;
  margin: 0% auto;
}
.menu-urls {
  height: 50px;
  background-color: #425c5c;
  border-bottom: 4px solid #506666;
}

.menu ul li {
  display: inline-block;
  margin-left: 12px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.menu {
  width: 70%;
  float: left;
}

.busca {
  width: 30%;
  float: right;
  margin-top: 10px;
}
.lupa {
  position: absolute;
  right: 27%;
  padding-top: 4px;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}

.icon {
  margin-top: 8px;
}

#footer {
  background: #284243;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}
